/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/keys.h>
#include "keymap_spanish.h"

/ {
    macros {
        euro: new_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(SPACE) &kp RA(E) &kp LG(SPACE)>;
            label = "NEW_MACRO";
        };

        tilde: tilde {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none>;
            label = "TILDE";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp ESCAPE  &kp Q  &kp W  &kp E      &kp R      &kp T             &kp Y        &kp U          &kp I      &kp O    &kp P        &kp ES_BSLS
&kp TAB     &kp A  &kp S  &kp D      &kp F      &kp G             &kp H        &kp J          &kp K      &kp L    &kp ES_SCLN  &kp ES_QUOT
&kp LSHFT   &kp Z  &kp X  &kp C      &kp V      &kp B             &kp N        &kp M          &kp COMMA  &kp DOT  &kp ES_SLSH  &lt 3 PRINTSCREEN
                          &kp LCTRL  &kp SPACE  &lt 1 LEFT_GUI    &lt 2 ENTER  &kp BACKSPACE  &kp ENTER
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp ES_EURO  &kp ES_DLR    &kp ES_PERC  &kp ES_LCBR   &kp ES_RCBR    &kp ES_LABK           &kp ES_RABK   &kp ES_MINS   &kp ES_UNDS   &kp ES_HASH   &kp ES_PIPE   &kp ES_CIRC
&kp ES_GRV   &kp ES_ASTR   &kp ES_AT    &kp ES_LPRN   &kp ES_RPRN    &kp ES_EXLM           &kp ES_QUES   &kp ES_EQL    &kp ES_PLUS   &kp ES_COLN   &kp ES_SLSH   &kp ES_CCED
&kp LSHFT    &trans        &kp ES_NOT   &kp LBRC      &kp RBRC       &kp ES_IEXL           &kp ES_IQUE   &kp ES_QUOT   &kp ES_DQUO   &kp ES_CCED   &kp ES_NTIL   &kp ES_ACUT
                                &kp RIGHT_CONTROL  &kp LEFT_ALT       &none              &none             &kp DELETE        &none
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&none  &none  &none           &kp UP_ARROW    &none      &none    &none  &none  &none  &none  &none  &none
&none  &none  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT  &none    &none  &none  &none  &none  &none  &none
&kp CAPS_LOCK  &none  &none           &none           &none      &none    &none  &none  &none  &none  &none  &kp RIGHT_SHIFT
                              &kp LGUI        &none      &none    &none  &none  &none
            >;
        };

        NUMBERS {
            bindings = <
&to 4  &kp N0       &kp N1  &kp N2       &kp N3       &kp ES_SLSH       &kp F1  &kp F2   &kp F3    &kp F4   &none  &kp ES_TILD
&none  &kp DOLLAR   &kp N4  &kp N5       &kp N6       &kp ES_ASTR       &kp F5  &kp F6   &kp F7    &kp F8   &none  &kp ES_DQUO
&none  &kp PERCENT  &kp N7  &kp N8       &kp N9       &kp ES_MINS       &kp F9  &kp F10  &kp F11   &kp F12  &none  &kp RSHFT
                            &kp KP_PLUS  &kp KC_PENT  &kp BSPC          &none   &none    &kt PRINTSCREEN
            >;
        };

        layer_4 {
            bindings = <
&to 0  &none         &none         &none         &none  &none         &none  &none  &none  &none  &none  &none
&none  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &none  &bt BT_CLR    &none  &none  &none  &none  &none  &none
&none  &none         &none         &none         &none  &none         &none  &none  &none  &none  &none  &none
                                   &none         &none  &none         &none  &none  &none
            >;
        };
    };
};
